@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 10px;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}
